Результаты тестирования:

================================================= test session starts ==================================================

"Техническая информация"

collected 10 items

tests/test_cases.py::test_positive[margherita-got0-expected0] PASSED                                             [ 10%]

tests/test_cases.py::test_positive[pepperoni-got1-expected1] PASSED                                              [ 20%]

tests/test_cases.py::test_positive[hawaiian-got2-expected2] PASSED                                               [ 30%]

tests/test_cases.py::test_positive[pepperoni-got3-expected3] PASSED                                              [ 40%]

tests/test_cases.py::test_negative[margherita-N-ValueError] PASSED                                               [ 50%]

tests/test_cases.py::test_negative[margherita-got1-TypeError] PASSED                                             [ 60%]

tests/test_cases.py::test_negative[pepperoni-got2-TypeError] PASSED                                              [ 70%]

tests/test_cases.py::test_negative[hawaiian-got3-TypeError] PASSED                                               [ 80%]

tests/test_cases.py::test_equal[first_pizza0-second_pizza0-expected0] PASSED                                     [ 90%]

tests/test_cases.py::test_equal[first_pizza1-second_pizza1-expected1] PASSED                                     [100%]


================================================= 10 passed in 0.78s ===========================================
